.about {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 800px;

    background-color: #fff2e6;
    .aboutTextAndImage {

        .aboutText{
            height: auto;
            max-width: 850px;
            margin: 0 auto;
            padding-top: 35px;
            color: #000;

            h1 {
                color: $indiaGreen;
            }
            p {
                font-size: 16px;
                line-height: 30px;
            }
        }
        .aboutImage {
            margin: 0 auto;
            max-width: 1200px;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: linear-gradient(to right, $blackOverlay, $blackOverlayLight) ,url(../assets/images/indianFoodTable.jpg);
        }
    }
}