.nav {
    margin: 0 auto;
    max-width: 1200px;
    height:40px;
    padding-top: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #fff;
    
    nav a {
        font-weight: bold;
        text-decoration: none;
        color: $indiaGreen;
        // background-color: orange;
    }

    .nav_links {
        list-style: none;
    }

    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
    }

    .nav_links li a {
        transition: all 0.3s ease 0s;
    }

    .nav_links li a:hover {
        color: $indiaOrange;
    }

    button {
        padding: 9px 25px;
        background-color: $indiaGreen;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        color: #fff;
    }

    button:hover {
        border-radius: 4px;
        background-color: $indiaOrange;
    }

    li, a, button {
        font-weight: 500;
        font-size: 16px;
        // color: #fff;
        text-decoration: none;
    }

    .logo {
        cursor: pointer;
        width: auto;
        height: 40px;
    }


}